
::-webkit-scrollbar{
  display: none;
}

.camera-container{
  display: flex;
  flex-direction: row;
  min-width: 331.5px !important;
  min-height: 170px !important;
  height: 100%;
  width: 100%;
  /* gap: 0.5em; */
  align-items: center;
  /* margin: 2.5em 0; */
  max-height: min-content;
  justify-content: space-evenly;
  
}

.product-image{
  width: 50%;
  margin: 0 auto;
  position: absolute;
}

#dce-video-container, #canvas-view-container{
  width: 975px !important;
  height: 500px !important;
  left:0;
  top:0;
  max-height: min-content;
  overflow: hidden;
  /* transform:scaleX(-1); */
  /* border:6px solid #FFFFFF; */
  /* background-color: #FFFFFF; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: visible;
  margin: 0 auto;
}

#dce-video-container{
  display: flex;
  justify-content: space-around;
}

#camera-view-container, #canvas-view-container{
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100%;
  width: 100%;
  margin: 0 ;
  /* width: 975px !important; */
  height: 500px !important;
  background-image: url("./assets/heather-green-Kpj1c6eoPJA-unsplash.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-size: cover;
  width: 754.15px !important;
  border-radius: 1px;
  align-items: center;
  position: relative;
}

#canvas-view-container img{
  position: absolute;
}

/* #canvas-view-container p{
  
} */

*{
  color: #151515;
  margin: 0;
}

body{
  max-width: 100vw;
  /* max-height: 100vh; */
  height: min-content;
  /* overflow: hidden; */
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 4em;
  /* gap: 0.5em; */
  background-color: #ffffff;
  overflow-x: hidden;
}

#footer, nav{
  margin: 0;
}

#results{
  display: block;
  border: none;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

button{
  box-shadow: none;
  cursor: pointer;
}

#scan-button, #undo-button, #clear-button, #redo-button {
  background-image: url("./assets/camera.png");
  border: none;
  color: #151515;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 2px 0.75px rgba(0, 0, 0, 0.4);
  /* border: 0.25px solid rgba(0, 0, 0, 0.4); */
  border-radius: 500px;
  padding: 2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	/* border: none; */
	cursor: pointer;
  background-color: transparent;
  transition: box-shadow 0.2s, transform 0.2s, scale 0.2s;
  overflow: visible;
}

button:hover{
  border: 0.5px solid rgba(0, 0, 0, 0) !important;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3)!important;
  transform:rotateZ(-10deg);
  scale: 1.1;
}
#scan-button{
  /* background-image: url("assets/Asset\ 2.svg"); */
  /* background-color: #ffffff;
  padding: 2px;
  /* border-radius: 50px; */
  width: 75px;
  height: 75px;
}

.disabled-button {
  /* Apply greyscale and reduce opacity */
  filter: grayscale(100%) opacity(0.5);
  /* cursor: not-allowed; Change cursor to indicate disabled state */
  pointer-events: none; /* Disable hover interactions */
}

.disabled-button:hover {
  /* Prevent hover-specific transform and box-shadow effects */
  transform: none;  /* Reset any hover transform */
  box-shadow: none; /* Reset hover box-shadow */
}

#undo-button, #redo-button{
  /* background-image: url("assets/undo.png"); */
  width: 59px;
  background-image: url("./assets//Indonesia_New_Road_Sign_Info_7b.png");
  border-radius: 3px;
  height: 30px;
  background-size: 55px;
  transform: rotateZ(-5deg);
  padding: 0;
}

#undo-button:hover {
  transform: rotateZ(-15deg);
}

#redo-button:hover{
  transform: rotateZ(-5deg) scaleX(-1);
}

#redo-button{
  /* filter: grayscale(1); */
  transform: rotateZ(5deg) scaleX(-1);

}

#clear-button{
  width: 30px;
  background-image: url("./assets/Peru_road_sign_P-6.gif");
  border-radius: 4px;
  height: 30px;
  transform: rotateZ(5deg);
  background-size: 55px;
}

#clear-button:hover{
  transform: rotateZ(15deg);
}

#hidden{
  opacity: 0;
  width: 75px;
}

.footer{
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 215px
}

nav{
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

nav p{
  font-family: rowdy, sans-serif;
font-weight: 400;
font-style: normal;
  color: #151515;
  font-size: 2em;
  margin: 0;
  cursor: pointer;
}

.footer p{
  bottom: 0;
  font-family: rowdy, sans-serif;
font-weight: 400;
font-style: normal;
    color: #151515;
  margin: 0;
  /* height: 50%; */
  overflow: hidden;
  font-size: 235px;
  text-align: justify;
}

#pen{
  color: #0036FA;
  position: absolute;
  transform: rotateZ(-15deg) translateX(-105%) translateY(20%);
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight:200;
  font-style: normal;
  font-size: 100px;
}

.tape{
  position: absolute;
  height: 12%;
  opacity: 0.9;
  z-index: 100;
}

#ver{
  height: auto;
  width: 10%;
}

#diag{
  height: auto;
  width: 30%;
}


@media only screen and (max-width: 480px) {
  .footer p {
    font-size: 150px;
    text-align: justify;
  }
  .footer{
    flex-direction: column;
    height: 235px;
  }

  .buttons{
    flex-direction: row;
  }

  .camera-container{
    flex-direction: column;
  }

  #dce-video-container, #canvas-view-container, #camera-view-container{
    /* width: 331.5px !important;
    height: 170px !important; */
    transform: scale(0.44);
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .footer p {
    font-size: 200px;
    text-align: justify;
  }
  .footer{
    flex-direction: column;
    height: 315px;
    gap: 3em;
  }

  .buttons{
    flex-direction: row;
  }

  .camera-container{
    flex-direction: column;
  }

  #dce-video-container, #canvas-view-container, #camera-view-container{
    transform: scale(0.59);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer p {
    font-size: 170px;
  }

  #dce-video-container, #canvas-view-container, #camera-view-container{
    transform: scale(0.62);
  }

}

.holder{
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
 /* box-sizing: border-box; */
 align-items: center;
}

.holder img {
  width: 60%;
  max-width: 60%; /* Constrain to container's width */
  height: auto; /* Maintain aspect ratio */
  /* transition: all 0.1s; */
}

.holder img:hover{
  /* transform: translateY(-50%) !important; */
  cursor: pointer;
}